# "Copyright (c) 2019-present Lenovo
# Licensed under BSD-3, see COPYING.BSD file for details."

[Unit]
Description=Power Button Pressed Service
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/usr/bin/env ipmitool raw 0x0a 0x44 0x00 0x00 0x02 0x00 0x00 0x00 0x00 0x20 0x00 0x04 0x14 0xf2 0x6f 0x00 0xff 0xff ; /usr/bin/env pwr-button.sh
SyslogIdentifier=pwr-button
