#"Copyright (c) 2019-present Lenovo
#Licensed under BSD-3, see COPYING.BSD file for details."

[Unit]
Description=Perform Hr630 UART Routing

[Service]
Restart=no
RemainAfterExit=true
Type=oneshot
ExecStart=/usr/bin/env cross-link.sh
SyslogIdentifier=cross-link.sh

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
