# "Copyright (c) 2019-present Lenovo
# Licensed under BSD-3, see COPYING.BSD file for details."

[Unit]
Description=Lenovo Host power off
Conflicts=obmc-chassis-poweron@0.target

[Service]
RemainAfterExit=no
Type=oneshot
ExecStart=/usr/bin/env poweroff.sh
ExecStartPost=/bin/sh -c "busctl call `mapper get-service /xyz/openbmc_project/watchdog/host0` /xyz/openbmc_project/watchdog/host0 org.freedesktop.DBus.Properties Set ssv xyz.openbmc_project.State.Watchdog Enabled b false"
SyslogIdentifier=poweroff.sh

[Install]
WantedBy=obmc-chassis-poweroff@0.target
